/* Common CSS */

.RadMenu
{
    white-space:nowrap;
    float:left;
    position:relative;
}

.RadMenu .rmRootGroup, div.my_extra_menu_class > ul
{
    margin:0;
    padding:0;
    position:relative;
    left:0;
    display: inline-block;
}

* html .RadMenu .rmRootGroup, div.my_extra_menu_class > ul { float: left; }

.RadMenu:after,
.RadMenu .rmRootGroup:after, div.my_extra_menu_class > ul:after
{
    content:""; 
    display:block;
    height:0;
    overflow: hidden;
    line-height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

.RadMenu ul.rmVertical,
.rmRootGroup ul.rmHorizontal,
.RadMenu_Context ul.rmHorizontal,
div.my_extra_menu_class > ul
{
    margin:0;
    padding:0;
    display:none;
    position:relative;
    left:0;
    float:left;
}

.rmSized ul.rmVertical
{
    width: 100%;
}

.rmSized ul.rmRootGroup, div.my_extra_menu_class > ul
{
    float: none;
}

.rmSized .rmRootGroup .rmVertical, div.my_extra_menu_class > ul
{
    width: auto;
}

.RadMenu .rmItem, div.my_extra_menu_class > ul > li
{
    float:left;
    position:relative;
    list-style-image: none;
    list-style-position:outside;
    list-style:none;    
}

* html .RadMenu .rmItem, div.my_extra_menu_class > ul > li
{
    display:inline;
}

.RadMenu .rmHorizontal .rmItem, div.my_extra_menu_class > ul > li
{
    clear:none;
}

.RadMenu .rmVertical .rmItem, div.my_extra_menu_class > ul > li
{
    clear:both;
}

.rmSized .rmVertical .rmItem, div.my_extra_menu_class > ul > li
{
    width: 100%;
}

.rmSized .rmHorizontal .rmItem,
.rmSized .rmRootGroup .rmVertical .rmItem, div.my_extra_menu_class > ul > li
{
    width: auto;
}

.RadMenu ul.rmActive,
.RadMenu ul.rmRootGroup, div.my_extra_menu_class > ul
{
    display:block;
}

.RadMenu .rmSlide, 
.RadMenu_Context
{
    position:absolute;
    overflow:hidden;
    display:none;
    float:left;
}

* html .RadMenu .rmSlide, 
* html .RadMenu_Context
{
    height:1px;
}

.RadMenu_Context
{
    z-index:1000;
    overflow:visible;
}

.RadMenu .rmText
{
    display:block;
}

.RadMenu div.rmText /*templates*/
{
    white-space:normal;
    background: transparent;
}

.RadMenu a.rmLink
{
    cursor:default;
    display:block;
}

.rmScrollWrap
{
    position:absolute;
    float:left;
    overflow:hidden;
    left:0;
}

.RadMenu .rmLeftArrow,
.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow,
.RadMenu .rmRightArrow
{
    position:absolute;
    z-index:2000;
    text-indent:-1000em;
    font-size: 0;
    line-height: 0;
    outline: 0;
    overflow: hidden;
}

.RadMenu .rmLeftArrowDisabled,
.RadMenu .rmTopArrowDisabled,
.RadMenu .rmBottomArrowDisabled,
.RadMenu .rmRightArrowDisabled
{
    display:none;
    text-indent:-1000em;
    font-size: 0;
    line-height: 0;
}

.RadMenu .rmBottomArrow,
.RadMenu .rmBottomArrowDisabled
{
    margin-bottom: -1px;
}

.RadMenu .rmLeftImage
{
    border:0;
    float:left;
}

.RadMenu_rtl
{
    float:right;
    text-align: right;
}

.RadMenu_rtl ul.rmVertical
{
    float:right;
}

.RadMenu_rtl .rmItem, div.my_extra_menu_class > ul > li
{
    float:right;    
}

.RadMenu_rtl .rmLeftImage,
.RadMenu_Context_rtl .rmLeftImage
{
    border:0;
    float:right;
}

.RadMenu_rtl .rmLeftArrow,
.RadMenu_rtl .rmTopArrow,
.RadMenu_rtl .rmBottomArrow,
.RadMenu_rtl .rmRightArrow,
.RadMenu_rtl .rmLeftArrowDisabled,
.RadMenu_rtl .rmTopArrowDisabled,
.RadMenu_rtl .rmBottomArrowDisabled,
.RadMenu_rtl .rmRightArrowDisabled
{
    text-indent:1000em !important;
}

.RadMenu .rmLink
{
    width:auto;
}

.RadMenu .rmSeparator,
.RadMenu .rmSeparator:after
{
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.RadMenu div.rmRootGroup
{
    position: relative;
}
/* <base styles> */

.RadMenu .rmItem, div.my_extra_menu_class > ul > li
{
    padding: 0;
}

.RadMenu .rmLink
{
    padding: 0 0 0 12px;
    outline: 0;
    float: left;
}

.RadMenu .rmText
{
    padding-bottom: 1px;
    float: left;
}

/* optimized for 16x16 */
.RadMenu .rmLeftImage
{
    margin: 4px 2px 0 -3px;
    padding-bottom: 4px;
}

.RadMenu .rmVertical .rmLeftImage+.rmText
{
    padding: 0 8px 1px 24px;
}

.RadMenu .rmVertical .rmText
{
    padding: 0 15px 1px 0;
}

.RadMenu .rmHorizontal .rmText, div.my_extra_menu_class > ul
{
    padding: 0 12px 1px 0;
}

.RadMenu_rtl .rmVertical .rmText
{
    padding: 0 15px 1px 0;
}

.RadMenu .rmVertical .rmText,
.RadMenu .rmHorizontal .rmVertical .rmText, div.my_extra_menu_class > ul
{
    display: block;
    float: none;
}

.RadMenu .rmVertical .rmLink,
.RadMenu .rmHorizontal .rmVertical .rmLink, div.my_extra_menu_class > ul
{
    float: none;
}

* html .RadMenu .rmGroup .rmVertical .rmLink,
* html .RadMenu .rmGroup .rmHorizontal .rmLink, div.my_extra_menu_class > ul
{
    float: left;
}

/* <Shadows and rounded corners */

.RadMenu .rmTopRight,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight,
.RadMenu .rmRoundedCorners ul.rmGroup,
.RadMenu .rmRoundedCorners .rmMultiColumn
{
    border: 0;
    background-position: 0 0;
}

.RadMenu .rmRoundedCorners .rmMultiColumn ul.rmGroup
{
    background: none;
    margin: 0;
}

.RadMenu .rmRoundedCorners .rmGroupColumn
{
    height: 100%;
}

.RadMenu .rmRoundedCorners li.rmFirstGroupColumn
{
    background-color: transparent;
}

.RadMenu .rmTopFix,
.RadMenu .rmTopRight,
.RadMenu .rmBottomFix,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight
{
    position: absolute;
    width: 4px;
    height: 4px;
    list-style-type: none;
    list-style-position: outside;
}

.RadMenu_rtl .rmTopRight,
.RadMenu_rtl .rmBottomRight
{
    width: 32px;
}

.RadMenu_rtl .rmTopShadowRight,
.RadMenu_rtl .rmBottomShadowRight
{
    width: 4px;
}

.RadMenu .rmTopShadowRight,
.RadMenu .rmBottomShadowLeft,
.RadMenu .rmBottomShadowRight
{
    background-repeat: no-repeat;
    background-color: transparent;
}

.rmRoundedCorners .rmTopShadowRight,
.rmRoundedCorners .rmBottomShadowLeft,
.rmRoundedCorners .rmBottomShadowRight
{
    width: 5px;
    height: 5px;
}

.RadMenu .rmTopRight
{
    background-position: 100% 0;
    top: 0;
    right: -4px;
    height: 100%;
}

.RadMenu .rmBottomLeft
{
    background-position: 0 100%;
    bottom: -4px;
    left: 0;
    width: 100%;
}

.RadMenu .rmBottomFix
{
    background-position: -1px 0;
    width: auto;
    bottom: -4px;
    left: 5px;
    right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.RadMenu .rmTopFix
{
    background-position: -1px 0;
    width: auto;
    top: 0;
    left: 5px;
    right: 0;
    border-top-width: 1px;
    border-top-style: solid;
}

* html .RadMenu .rmTopFix,
* html .RadMenu .rmBottomFix
{
    width: 100%;
}

.RadMenu .rmBottomRight
{
    background-position: 100% 100%;
    bottom: -4px;
    right: -4px;
    width: 8px;
}

.RadMenu .rmShadows .rmBottomShadowLeft,
.RadMenu .rmShadows .rmBottomShadowRight
{
    background-image: url('WebResource.axd?d=_IqJHwfaG4TwbVrtdzrgUY-nXMrdGQOhlN_9JPP0I-5VKlBPmL1cPRQw68hisDyCbaC_IP3l1GBgITIoz8fJZSE_IADG1h2OC6IHnoafpqJP4fuhDX95XoJXNyVqoPX_0WA9bsXGZbAHHXzp1Tf2yVl4R5B1d0OT8Gan8Am_gZc1&t=634067683000000000');
}

.RadMenu .rmRoundedCorners .rmBottomShadowLeft,
.RadMenu .rmRoundedCorners .rmBottomShadowRight
{
    background-image: url('WebResource.axd?d=JYynJ30xq1rEkgk3KUXi8Uh1GoNawoN4BBoiMOXAhos4JetjGKYTzf3HzhCJ2vmsqaZPrXQkM4X-8nF3CW61Jg_KOfisS659_iMamSQijUK9LGWnNR-ptyEwkyjiSHTZ81nMEXyNMGGl_wjZnFuZWkI-2mjbwembPARQyGIeA2w0FVmzT1ExkoCJnjmtS6vQ0&t=634067683000000000');
}

.RadMenu .rmShadows .rmTopShadowRight
{
    right: -5px;
    background-image: url('WebResource.axd?d=pKnbjT6YAj64mMLx8SXuI4-yn0xcI70GeOXrcL7vlafJKMRZ5L2PNrvPzwSDON5CwMiA1uyZXCFGQKMMR09hdN7QWhFVO4KU2Ib_4tmWrlSEWiLBQ6OsJsq28Dep4Bw0O8QhETbWG1fGIYEC_n_U41AU_GIbIYDUE2od9Pc44qI1&t=634067683000000000');
    background-position: 100% 0;
}

.RadMenu .rmRoundedCorners .rmTopShadowRight
{
    right: -8px;
    background-image: url('WebResource.axd?d=MIKujyT1ItFTTWmD4q7OjNBWRTtH2h4PYYSIxmywXtXNSdFc1vxVcshaA8MOHwnfc4aIMm_5x3xlnvjp0hkyjvtX6BDqhgx44JzMSUdnBoYj0PZykFUy5jsS1-UE5wH1TH_GsWBIfvZtpX1dtDri2d-ZrFhR5dSH2woeHVXQIic1&t=634067683000000000');
}

.RadMenu .rmBottomShadowLeft
{
    bottom: -5px;
    left: 1px;
    background-position: 0 100%;
}

.RadMenu .rmRoundedCorners .rmBottomShadowLeft
{
    bottom: -8px;
}

.RadMenu .rmBottomShadowRight
{
    bottom: -5px;
    right: -5px;
    width: 4px;
    height: 5px;
}

.RadMenu .rmRoundedCorners .rmBottomShadowRight
{
    bottom: -8px;
    right: -8px;
    width: 7px;
    height: 8px;
}

* html .RadMenu .rmRoundedCorners .rmBottomShadowRight
{
    width: 11px;
    height: 8px;
    font-size: 0;
}

.RadMenu .rmAccessKey
{
    font-size: 10px;
    font-weight: normal;
    float: right;
    padding-right: 8px;
}

.RadMenu .rmRoundedCorners .rmGroup .rmItem
{
    z-index: 1;
}

* html .RadMenu .rmRoundedCorners .rmGroup .rmText,
* html .RadMenu .rmShadows .rmGroup .rmText{ zoom: normal }

.RadMenu .rmRoundedCorners .rmSlide .rmScrollWrap
{
    background-image: none;
}

.RadMenu .rmRoundedCorners .rmSlide,
.RadMenu .rmShadows .rmSlide
{
    padding: 0 8px 10px 0;
}

.RadMenu .rmRoundedCorners ul.rmGroup
{
    margin-top: 1px;
    padding: 1px;
}

.RadMenu .rmRoundedCorners ul.rmGroup .rmSlide
{
    margin-top: -5px;
}

.RadMenu_rtl .rmRoundedCorners ul.rmGroup .rmSlide
{
    margin-right: -5px;
}

.RadMenu .rmRoundedCorners ul.rmGroup .rmSlide .rmScrollWrap
{
    margin-top: 4px;
}

.RadMenu .rmRoundedCorners ul.rmGroup
{
    padding: 4px 0 0 4px;
}

/* </Shadows and rounded corners */

.RadMenu .rmRootGroup .rmItem .rmGroup, div.my_extra_menu_class > ul
{
    padding-bottom: 1px;
}

.RadMenu .rmGroup .rmItem
{
    padding: 0;
}

.RadMenu .rmGroup .rmLink,
.RadMenu .rmSlide .rmGroup .rmTemplate
{
    padding: 0;
}

.RadMenu_rtl .rmGroup .rmLink,
.RadMenu_rtl .rmSlide .rmGroup .rmTemplate
{
    padding: 0;
}

.RadMenu .rmGroup .rmText
{
    padding: 0 54px 0 28px;
    margin: 0 0 0 4px;
}

.RadMenu_rtl .rmGroup .rmText
{
    padding: 0 28px 0 54px;
    margin: 0 4px 0 0;
}

.RadMenu .rmMultiColumn
{
    list-style: none;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    zoom: 1;
}

.RadMenu .rmMultiColumn .rmGroup
{
    background: none;
    border: 0;
    float: left;
    display: block;
}

.RadMenu .rmMultiColumn .rmGroupColumn
{
    float: left;
}

.RadMenu .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context .rmGroup .rmLeftImage+.rmText
{
    padding: 0 54px 0 28px;
}

.RadMenu_rtl .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context_rtl .rmGroup .rmLeftImage+.rmText
{
    padding: 0 28px 0 54px;
}

.RadMenu .rmSlide .rmHorizontal .rmText, div.my_extra_menu_class > ul
{
    padding: 0 11px 0 10px;
}

.RadMenu .rmGroup .rmLeftImage
{
    margin: 4px 0 0 6px;
}

* html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }
*+html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }

.RadMenu_rtl .rmGroup .rmLeftImage
{
    margin: 4px 6px 0 0;
}

* html .RadMenu .rmGroup .rmLeftImage { position: absolute; }
*+html .RadMenu .rmGroup .rmLeftImage { position: absolute; }

* html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }
*+html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }

*+html .RadMenu_Context_rtl UL.rmGroup { position: absolute; }
* html .RadMenu_Context_rtl UL.rmGroup { position: absolute; }

/* <separators> */

.RadMenu .rmSeparator .rmText
{
    line-height: 0;
    font-size: 0;
    padding: 0;
    background-repeat: repeat-x;
    overflow: hidden;
}

.RadMenu .rmVertical .rmSeparator .rmText,
.RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
    height: auto;
    width: auto;
    padding-bottom: 2px;
}

*+html .RadMenu .rmSeparator .rmText,   /* IE7 separator height problem */
*+html .RadMenu .rmVertical .rmSeparator .rmText,
*+html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
    height: 2px;
    padding: 0;
}

* html .RadMenu .rmVertical .rmSeparator .rmText { height: auto; padding: 2px 0 0; }
* html .RadMenu .rmHorizontal .rmSeparator .rmText { padding: 0; }

.RadMenu .rmRootGroup .rmSeparator .rmText
{
    margin: 1px 12px;
}

.RadMenu .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context .rmVertical .rmSeparator .rmText,div.my_extra_menu_class > ul
{
    margin: 1px 2px 1px 31px;
}

.RadMenu_rtl .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context_rtl .rmVertical .rmSeparator .rmText, div.my_extra_menu_class > ul
{
    margin: 1px 31px 1px 2px;
}

.RadMenu .rmHorizontal .rmSeparator .rmText,
.RadMenu .rmVertical .rmHorizontal .rmSeparator .rmText
{
    margin: 2px 0 0;
    height: 20px;
    width: 2px;
}

* html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
    zoom: 1;
}

/* </separators> */

/* <scroll arrows> */

.RadMenu .rmLeftArrow,
.RadMenu .rmRightArrow
{
    width: 10px;
    height: 24px;
}

.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow
{
    height: 10px;
    width: 100%;
}

/* </scroll arrows> */

/* </base styles> */