
/*Hand cursor*/
.RadMenu_WSG a span
{
    cursor: pointer;
    cursor: hand;
}



/* <RadMenu / Vista> */


.RadMenu_WSG .rmRootGroup, .RadMenu_WSG .rmFirst, .RadMenu_WSG a.rmLink, .RadMenu_WSG .rmText, .RadMenu_WSG .rmLeftArrow, .RadMenu_WSG .rmRightArrow, .RadMenu_WSG .rmTopArrow, .RadMenu_WSG .rmBottomArrow
{
    background-image: none;
    background-color: transparent;
}





.RadMenu_WSG .rmRootGroup
{
    /*  border: 1px solid #aabfd6;     background-repeat: repeat-x;     background-position: 0 -408px;     background-color: #f1f5fb;*/
}

.RadMenu_WSG .rmFirst
{
    background-position: 0 -24px;
}

.RadMenu_WSG .rmVertical .rmFirst, .RadMenu_WSG .rmVertical .rmLast
{
    background: none;
    padding: 0;
}

/* <Root items> */

.RadMenu_WSG, .RadMenu_WSG .rmRootGroup .rmLink
{
    font: normal 15px/50px Trebuchet MS, Arial, sans-serif !important;
    color: #333333;
    text-decoration: none;
}

.RadMenu_WSG, .RadMenu_WSG .rmRootGroup .rmLink:hover
{
    font: normal 15px/50px Trebuchet MS, Arial, sans-serif !important;
    color: #103924;
    text-decoration: none;
}

.RadMenu_WSG .rmGroup .rmLink
{
  
    font: normal 14px/43px Arial, sans-serif;
    background-position: 0 1050px;
    background-repeat: no-repeat;
    line-height: 40px !important;
    border-bottom: 1px solid #235f40;
}
.RadMenu_WSG .rmGroup .rmText
{
    font: normal 14px/43px  Arial, sans-serif;
    background-position: 0 1050px;
    background-repeat: no-repeat;
    line-height: 40px !important;
}
/*Hover Left Root Image*/
.RadMenu_WSG a.rmLink:hover, .RadMenu_WSG a.rmFocused, .RadMenu_WSG a.rmSelected
{
    background: url('Menu/tabBack.png') no-repeat top left;
}

/*Hover Right Root Image*/
.RadMenu_WSG a.rmLink:hover .rmText, .RadMenu_WSG a.rmFocused .rmText, .RadMenu_WSG a.rmSelected .rmText
{
    background: url('Menu/tabBack.png') no-repeat 100% -51px;
}

/*Hover Left Root Expanded */
.RadMenu_WSG a.rmExpanded, .RadMenu_WSG a.rmExpanded:hover
{
    background: url('Menu/tabBack.png') no-repeat top left;
}
/*Hover Right Root Expanded */
.RadMenu_WSG a.rmExpanded .rmText, .RadMenu_WSG a.rmExpanded:hover .rmText
{
    background: url('Menu/tabBack.png') no-repeat 100% -51px;
}

.RadMenu_WSG a.rmDisabled, .RadMenu_WSG a.rmDisabled:hover
{
    color: #a7a7a7;
}

.RadMenu_WSG a.rmDisabled:hover, .RadMenu_WSG a.rmDisabled:hover .rmText
{
    background: none;
}

/* </Root items> */


/* <Submenu items> */

/*background for drop menu*/
.RadMenu_WSG .rmGroup, .RadMenu_WSG .rmMultiColumn, .RadMenu_WSG .rmGroup .rmVertical
{
    /*border: 1px solid #a5b3c5;*/
    background-color: #103924  /*background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;*/;
}

.RadMenu_WSG .rmTopFix, .RadMenu_WSG .rmBottomFix, .RadMenu_WSG .rmRoundedCorners .rmGroup .rmItem, .RadMenu_WSG .rmRoundedCorners li.rmFirstGroupColumn .rmItem, .RadMenu_WSG .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem, .RadMenu_WSG .rmRoundedCorners ul.rmHorizontal .rmFirst, .RadMenu_WSG_Context.rmRoundedCorners .rmGroup .rmItem, .RadMenu_WSG_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: -3px 0;
}

* html .rmRoundedCorners_WSG .rmGroup .rmItem, * html .rmRoundedCorners_WSG ul.rmHorizontal .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: -3px 0;
}

.RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_WSG .rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_WSG .rmRoundedCorners .rmGroupColumn .rmItem, .RadMenu_WSG .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem, .RadMenu_WSG .rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_WSG .rmRoundedCorners .rmScrollWrap .rmVertical, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_WSG_Context.rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
    background-image: none;
}

* html .rmRoundedCorners_WSG .rmScrollWrapContainer .rmGroup, * html .rmRoundedCorners_WSG .rmScrollWrap .rmItem, * html .rmRoundedCorners_WSG .rmHorizontal .rmItem, * html .rmRoundedCorners_WSG .rmScrollWrap .rmVertical
{
    background-image: none;
}

.RadMenu_WSG .rmRoundedCorners .rmGroupColumn
{
    background-color: #fff;
}

.RadMenu_WSG .rmBottomLeft, .RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer, .RadMenu_WSG_Context.rmRoundedCorners ul.rmGroup, .RadMenu_WSG .rmRoundedCorners ul.rmGroup, .RadMenu_WSG .rmRoundedCorners .rmMultiColumn
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

* html .rmRoundedCorners_WSG .rmScrollWrapContainer, * html .rmRoundedCorners_WSG .rmGroup ul.rmGroup, * html .rmRoundedCorners_WSG ul.rmGroup
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_WSG .rmTopRight, .RadMenu_WSG .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_WSG .rmTopFix, .RadMenu_WSG .rmBottomFix, .RadMenu_WSG .rmRoundedCorners .rmGroup .rmFirst, .RadMenu_WSG_Context.rmRoundedCorners .rmGroup .rmFirst, .rmRoundedCorners_WSG .rmGroup .rmFirst
{
    border-color: #a5b3c5;
}

.RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
    background: #FFF;
}

* html .rmRoundedCorners_WSG .rmScrollWrapContainer .rmTopFix, * html .rmRoundedCorners_WSG .rmScrollWrapContainer .rmBottomFix
{
    background: #FFF;
}

.RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
    background-color: #FFF;
    border: 0;
}

* html .rmRoundedCorners_WSG .rmScrollWrapContainer .rmTopArrow, * html .rmRoundedCorners_WSG .rmScrollWrapContainer .rmBottomArrow, * html .rmRoundedCorners_WSG .rmScrollWrapContainer .rmLeftArrow, * html .rmRoundedCorners_WSG .rmScrollWrapContainer .rmRightArrow
{
    background-color: #FFF;
    border: 0;
}

.RadMenu_WSG li.rmTopFix, .RadMenu_WSG li.rmBottomFix
{
    background-position: -4px 0;
}

.RadMenu_WSG_rtl .rmBottomLeft, .RadMenu_WSG_rtl .rmRoundedCorners ul.rmGroup, .RadMenu_WSG_rtl .rmRoundedCorners .rmMultiColumn, .RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_WSG .rmScrollWrapContainer .rmBottomLeft, .rmRoundedCorners.RadMenu_WSG_Context_rtl ul.rmGroup, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer
{
    background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_WSG_rtl .rmTopRight, .RadMenu_WSG_rtl .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_WSG_rtl li.rmTopFix, .RadMenu_WSG_rtl li.rmBottomFix, .RadMenu_WSG_rtl .rmRoundedCorners .rmGroup .rmItem, .rmRoundedCorners.RadMenu_WSG_Context_rtl ul.rmGroup .rmItem
{
    background-position: 101% 0;
}

.RadMenu_WSG .rmSlide .rmScrollWrap
{
    background-image: none;
}

.RadMenu_WSG_rtl .rmGroup, .RadMenu_WSG_rtl .rmMultiColumn, .RadMenu_WSG_rtl .rmGroup .rmVertical
{
    background-position: 101% 0;
}

.RadMenu_WSG .rmRootGroup .rmHorizontal
{
    background-image: none;
}

.RadMenu_WSG .rmScrollWrap .rmVertical
{
    border: 0;
}

.RadMenu_WSG .rmGroup .rmFirst, .RadMenu_WSG .rmGroup .rmLast, .RadMenu_WSG .rmRoundedCorners .rmScrollWrapContainer li.rmItem, .RadMenu_WSG_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem, .rmRoundedCorners_WSG .rmScrollWrapContainer li.rmItem
{
    background: none;
}

.RadMenu_WSG .rmGroup .rmLast
{
    padding-bottom: 1px;
    border-bottom: none !important;
}
.RadMenu_WSG .rmGroup .rmLink .rmLast
{
    border-bottom: none !important;
}

.RadMenu_WSG .rmGroup a.rmLink .rmText
{
    color: #fff;
}
/*Drop nav over state left */
.RadMenu_WSG .rmGroup a.rmLink:hover, .RadMenu_WSG .rmGroup a.rmFocused, .RadMenu_WSG .rmGroup a.rmSelected, .RadMenu_WSG .rmGroup a.rmExpanded
{
    /*background-image: url('Menu/rmSprite.png');     background-color: transparent;*/
    background-color: #235f40;
    background-position: 0 -168px;
}
/*Drop nav over state right */
.RadMenu_WSG .rmGroup a.rmLink:hover .rmText, .RadMenu_WSG .rmGroup a.rmFocused .rmText, .RadMenu_WSG .rmGroup a.rmSelected .rmText, .RadMenu_WSG .rmGroup a.rmExpanded .rmText
{
    /*background-image: url('Menu/rmSprite.png');     background-color: transparent;*/
    background-color: #235f40;
    color: white;
    background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_WSG .rmGroup .rmExpandRight, .RadMenu_WSG .rmGroup .rmExpandDown
{
    background-image: url('Menu/navArrow.png');
    background-position: right 5px;
}

.RadMenu_WSG .rmGroup a.rmLink:hover .rmExpandRight, .RadMenu_WSG .rmGroup a.rmFocused .rmExpandRight, .RadMenu_WSG .rmGroup a.rmSelected .rmExpandRight, .RadMenu_WSG .rmGroup a.rmExpanded .rmExpandRight, .RadMenu_WSG .rmGroup a.rmLink:hover .rmExpandDown, .RadMenu_WSG .rmGroup a.rmFocused .rmExpandDown, .RadMenu_WSG .rmGroup a.rmSelected .rmExpandDown, .RadMenu_WSG .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/navArrow.png');
    background-position: right 5px;
}

.RadMenu_WSG .rmGroup a.rmDisabled:hover .rmExpandRight, .RadMenu_WSG .rmGroup a.rmDisabled:hover .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
    background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_WSG_rtl .rmGroup a.rmLink:hover, .RadMenu_WSG_rtl .rmGroup a.rmFocused, .RadMenu_WSG_rtl .rmGroup a.rmSelected, .RadMenu_WSG_rtl .rmGroup a.rmExpanded
{
    background-position: 100% -264px;
}

.RadMenu_WSG_rtl .rmGroup a.rmLink:hover .rmText, .RadMenu_WSG_rtl .rmGroup a.rmFocused .rmText, .RadMenu_WSG_rtl .rmGroup a.rmSelected .rmText, .RadMenu_WSG_rtl .rmGroup a.rmExpanded .rmText
{
    background-position: 0 -288px;
}

.RadMenu_WSG_rtl .rmGroup .rmExpandLeft
{
    background-position: 0 -312px;
}

.RadMenu_WSG_rtl .rmGroup a.rmLink:hover .rmExpandLeft, .RadMenu_WSG_rtl .rmGroup a.rmFocused .rmExpandLeft, .RadMenu_WSG_rtl .rmGroup a.rmSelected .rmExpandLeft, .RadMenu_WSG_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Vista - specific, overlapping submenus)> */

.RadMenu_WSG .rmSlide
{
    margin: 0px 0 0 0px;
}

.RadMenu_WSG .rmVertical .rmSlide, .RadMenu_WSG .rmSlide .rmSlide, .RadMenu_WSG_Context .rmGroup .rmSlide
{
    margin: 5px 0 0 -5px;
}

.RadMenu_WSG_rtl .rmSlide
{
    margin: -3px 0 0 -1px;
}

.RadMenu_WSG_rtl .rmVertical .rmSlide, .RadMenu_WSG_rtl .rmSlide .rmSlide, .RadMenu_WSG_Context_rtl .rmGroup .rmSlide
{
    margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_WSG .rmLeftArrow, .RadMenu_WSG .rmRightArrow
{
    background-color: #E0E5F5;
}

.RadMenu_WSG .rmLeftArrow
{
    background-position: -8px -312px;
    border-right: 1px solid #B7BDCD;
}
.RadMenu_WSG .rmRightArrow
{
    background-position: -482px -216px;
    border-left: 1px solid #B7BDCD;
}

.RadMenu_WSG .rmTopArrow, .RadMenu_WSG .rmBottomArrow, .RadMenu_WSG .rmGroup .rmLeftArrow, .RadMenu_WSG .rmGroup .rmRightArrow
{
    background-color: #f0f0f0;
}

.RadMenu_WSG .rmTopArrow
{
    background-position: 50% -367px;
    border-bottom: 1px solid #B7BDCD;
}
.RadMenu_WSG .rmBottomArrow
{
    background-position: 50% -391px;
    border-top: 1px solid #B7BDCD;
}

/* </Scrolling arrows> */

/* <Separators> */
.RadMenu_WSG .rmHorizontal .rmSeparator .rmText, .RadMenu_WSG .rmVertical .rmHorizontal .rmSeparator .rmText
{
   height: 45px !important;
    width: 8px !important;
    background: url('Menu/navdivider.gif') top right no-repeat;
}


/* </Separators> */

/* </RadMenu / Vista> */